################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebTEST2/Statics/Cstring.cs
/WebTEST2/Statics/Cstring.cs
